services:
  db:
    image: postgres:15
    container_name: cookbook_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432" # expose PostgreSQL on port 5433
    volumes:
      - postgres_data:/var/lib/postgresql/data  # persistent PostgreSQL storage

  seed:
      build: 
        context: ./backend
        dockerfile: Dockerfile.dev
      volumes:
      - ./backend:/app
      environment:
        - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
        - PYTHONPATH=/app
      depends_on:
        - db
      profiles: ["seed"] # This prevents it from running by default
      command: python -m app.seed

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - CORS_ORIGINS=${CORS_ORIGINS}
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules # Prevents local node_modules from overwriting container
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=${VITE_API_URL}
    depends_on:
      - backend



volumes:
  postgres_data:
    driver: local
